Predicting based on one feature:

In [1]:
library(data.table)
library(dplyr)
library(Metrics)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
load("/Users/alexpapiu/Documents/Data/expedia.RData")

Picking the top five out of each:

In [4]:
train %>%
    count(srch_destination_id, hotel_cluster) %>%
    arrange(desc(n)) %>% 
    top_n(5, n) -> top_5

In [5]:
dat <- as.data.table(top_5)

In [6]:
dat[, obs := paste0('y_', 1:.N), by=srch_destination_id]

ERROR: Error in rbindlist(l, use.names, fill, idcol): Item 2 of list input is not a data.frame, data.table or list

       srch_destination_id hotel_cluster n obs
    1:                   8            77 2 y_1
    2:                   8            32 1 y_2
    3:                  11            94 1 y_1
    4:                  14            20 3 y_1
    5:                  14            75 2 y_2
   ---
15315:               64986            90 1 y_2
15316:               64986            94 1 y_3
15317:               64999            54 1 y_1
15318:               65035            10 6 y_1
15319:               65035            35 1 y_2

In [ ]:
dcast(dat, srch_destination_id ~ obs, value.var="hotel_cluster") -> top_5

In [ ]:
right_join(top_5, val, by = "srch_destination_id") -> temp
temp <- temp[,2:6]
as.list(as.data.frame(t(temp))) -> preds #converts to a list
truth = as.list(val$hotel_cluster)
mapk(5, truth, preds)