Predicting based on one feature:

In [10]:
library(data.table)
library(dplyr)
library(Metrics)

In [16]:
load("expedia.RData")

Picking the top five out of each:

In [17]:
train %>%
    count(srch_destination_id, hotel_cluster) %>%
    arrange(desc(n)) %>% 
    top_n(5, n) -> top_5

In [18]:
dat <- as.data.table(top_5)

In [19]:
dat[, obs := paste0('y_', 1:.N), by=srch_destination_id]

ERROR: Error in rbindlist(l, use.names, fill, idcol): Item 2 of list input is not a data.frame, data.table or list

       srch_destination_id hotel_cluster n obs
    1:                   1            20 2 y_1
    2:                   1            60 2 y_2
    3:                   1            30 1 y_3
    4:                   4            82 5 y_1
    5:                   4            78 5 y_2
   ---
51125:               65035            10 6 y_1
51126:               65035            36 1 y_2
51127:               65039            67 1 y_1
51128:               65102            51 2 y_1
51129:               65102             7 1 y_2

In [ ]:
dcast(dat, srch_destination_id ~ obs, value.var="hotel_cluster") -> top_5

In [ ]:
right_join(top_5, val, by = "srch_destination_id") -> temp
temp <- temp[,2:6]
as.list(as.data.frame(t(temp))) -> preds #converts to a list
truth = as.list(val$hotel_cluster)
mapk(5, truth, preds)